<VirtualHost *:80>
    ServerName site2.local
    DocumentRoot /var/www/site2.local/html_public
    ErrorLog /var/log/httpd/site2-error.log
    CustomLog /var/log/httpd/site2-access.log combined
</VirtualHost>
