<VirtualHost *:80>
    ServerName "{{site1}}"
    DocumentRoot /var/www/"{{site1}}"/public_html
    ErrorLog /var/log/httpd/site1-error.log
    CustomLog /var/log/httpd/site1-access.log combined
</VirtualHost>
